robotframework>=7.0
matplotlib>=3.10
Pillow>=11.3
pyautogui>=0.9.54
pygetwindow>=0.0.9
pymsgbox>=1.0.9
pyperclip>=1.9.0
pyrect>=0.2.0
PyScreeze>=1.0.1
scikit-image>=0.25.2
opencv-python-headless>=4.12
packaging>=24
setuptools<81
# pyqt5 is only needed to use skimage.viewer.ImageViewer(refImage) while debugging
# pyqt5
